{#
/**
 * @file
 * Profile ws custom block.
 *
 * Available variables:
 * - data: The data have an array of social links.
  */
#}
 <div class="col-sm-3 ws-custom--block">
    <a href="{{ link }}">{{ title }}</a>
 </div>
