{#
/**
 * @file
 * Profile ws custom block.
 *
 * Available variables:
 * - data: The data has an array of social links.
  */
#}
<div class="social-links">
  {% for item in data %}
    <div class="social-link social-link--{{item.id}}">
      <a href="{{ item.link }}"><i class="fab {{ item.icon }}"></i>{{ item.name }}</a>
    </div>
  {% endfor %}
</div>
