.social-links {
  /* outline: 2px solid red; */
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  padding: 2rem 0;
}

.social-link {
  /* outline: 2px dashed green; */
  margin: 0 2rem;
}

.social-link a {
  outline: 2ps solid blue;
  font-family: var(--main-font-family);
  font-size: .85rem;
  font-weight: 600;
  text-decoration: none;
}

.social-link svg {
  /* outline: 2px solid red; */
  padding-right: .7rem;
}

.social-link--facebook a {
  color: #3d5699;
}
.social-link--twitter a {
  color: #16acee;
}

.social-link--you_tube a {
  color: #de4a3a;
}
