.powered-by {
  font-family: var(--second-font-family);
  font-weight: 300;
  font-size: .95rem;
}

.powered-by a {
  font-family: var(--main-font-family);
  color:  var(--green);
  font-weight: 600;
  font-size: .85rem;
  text-decoration: none;
}
