.block-views {
  padding-top: 2rem;
}

.block-views__title {
  position: relative;
  background-color: var(--black-900);
  color: var(--white);
  text-transform: uppercase;
  font-family: var(--main-font-family);
  font-size: .95rem;
  font-weight: 700;
  text-align: center;
  margin: 0 1rem;
  padding: 1rem 0;
  box-sizing: border-box;
  z-index: 2;
}

.block-views__content {
  top: -30px;
  position: relative;
  padding: 50px 1.75rem 30px 1.75rem;
  background-color: var(--white);
  z-index: 0;
}
