.main-slider {
  margin: 0 auto 5rem auto;
  width: 1172px;
}

.main-slider .slick-arrow,
.main-slider .slick-arrow:hover {
  color: var(--white);
  width: 40px;
  height: 40px;
  line-height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50px;
}

.main-slider .slick-prev,
.main-slider .slick-prev:hover,
.main-slider .slick-prev:focus {
  background-color: var(--black-900);
  right: 85px;
  left: inherit; /* reset left value. */
  z-index: 1;
}

.main-slider .slick-prev::before {
  font-size: 23px;
  content: "‹";
}

.main-slider > .slick-next,
.main-slider > .slick-next:hover,
.main-slider > .slick-next:focus {
  background-color: var(--green);
  right: 40px;
}

.main-slider .slick-next::before {
  font-size: 23px;
  content: "›";
}
