.main-menu {
  display: flex;
  list-style: none;
}

.main-menu__item {
  padding: 0 2rem;
}

.main-menu__item a {
  color: var(--black-600);
  font-family: var(--main-font-family);
  text-decoration: none;
  font-size: var(--font-size-small);
}
