.main-navigation {
  outline: 1px dashed gray;
  display: flex;
  justify-content: space-between;
}

.content {
  outline: 1px solid blue;
  display: flex;
  width: 1172px;
  margin: 0 auto;
  justify-content: space-between;
}

.layout-content {
  outline: 1px solid blue;
  flex-shrink: 0;
  width: 67.5%;
}

.layout-sidebar-first {
  outline: 1px solid red;
  flex-shrink: 0;
  width: 30%;
}


/*
 * Page node styles.
 */
.page-node {}

.page-node__content, .page-node__footer-content {
  /*outline: 2px dotted blue;*/
  width: var(--large);
  margin: 0 auto;
  padding-bottom: 3rem;
}
