.profile-compact {
  display: flex;
  position: relative;
}

.profile-compact__photo img {
  border-radius: 50%;
}

.profile-compact__container {
  padding-left: 2.5rem;
}

.profile-compact__ocupations {
  margin-bottom: .5rem;
}

.profile-compact__ocupations > div {
  display: flex;
}

.profile-compact__ocupations a {
  color: var(--green);
  text-decoration: none;
  font-style: italic;
}

.profile-compact__ocupations a:after {
  content: "&";
  display: inline-block;
  margin: 0 5px;
}

.profile-compact__ocupations > div  div:last-child a:after {
  content: "";
  display: inline;
}

.profile-compact__full-name {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--main-font-family);
  color: var(--black-600);
  margin-bottom: 1rem;
}

.profile-compact__summary {
  color: var(--black-600);
  text-align: left;
}
